body {
  background: #f2f2f2;
  font-family: Arial;
  padding: 20px;
}

.page {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.hidden { display: none; }
.error { color: red; margin-top: 10px; }

input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
